# Virtual environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
app/__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# YOLO & Datasets
dataset/
data/
runs/
*.pt
*.onnx

# Other temp/test files
.cph/
test_s3.jpg

# Backups
backups/

# Logs
LOG phiên/

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# Certificates and keys
*.pem
